@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400&display=swap');

.textos1 {
    font-family: "Passion One", sans-serif !important;
    font-size: 50px!important;
    color:orange !important;
}

.imagem {

    background-image: url(https://i.imgur.com/d5bMdDJ.jpg);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;

}

.text-decorator-none{
    text-decoration: none;
}